{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "rules": {
    "indent": ["warn", 2],
    "no-console": "warn",
    "semi": "warn",
    "no-unused-vars": "warn"
  }
}
